/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */
* {
	color: white;
	font-family: 'Raleway', sans-serif;
}
#div1  {
	font-size: 1.9em;
	font-weight:bold;
}
.pequeño {
	font-size: 1em; 
 }

#div2 {
	padding: 50px ;
	background-color: #F78E69;
	text-align: center;

}
 #primera{
	background-color:  #F78E69;
	text-align: right;
	padding:50px;
}
#segundo {
	background-color: #ABE188;
	padding: 50px 360px;
	border-top: 20px solid #F78E69;
	border-bottom:  20px solid #F78E69;
}
.imagenes {
	background-color: #ABE188;
	padding: 70px;
}


#img1, #img2  {
	width: 1305px;
}
.pandas {
	border-top: 20px solid #F78E69;
	border-bottom:  20px solid #F78E69;
}
#abajo {
	background-color: #F78E69;
	font-weight:bold;
	text-align: right;
	padding: 50px 20px 10px 20px;
}